/*
  左揃え用です.
  以下のコードを「Chat v2.0 Style Generator」で生成したCSSコードの最下部にコピペしてください.
*/

/*Speech bubble*/
/*吹き出しの尖った部分*/
yt-live-chat-text-message-renderer #author-name:after {
  content: "";
  display: block;
  position: relative;
  top: 10px; /*上下位置調整*/
  left: -18px; /*左右位置調整*/
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 0px 0px 20px; /*大きさ*/
  border-color: rgba(255,255,255,255) rgba(0,0,0,0) rgba(0,0,0,0); /*色*/
  transform: rotate(20deg); /*角度*/
}

/*吹き出しのメッセージ部分*/
yt-live-chat-text-message-renderer #message {
  display: block;
  position: relative;
  top: -8px; /*上下位置*/
  background-color : rgba(255,255,255,255); /*色*/
  padding : 5px 8px 5px 8px; /*塗りつぶし余白 上側から時計回り*/
  border-radius: 10px 10px 10px 10px; /*角丸 左上から時計回り*/
}
